<nav>
    <div class="site-title">
        <a href="/"><h1>Biogas RMS</h1></a>
        <p>Remote management dashboard</p>
    </div>

    <ul>
        <li><a href="/">Sensor readings</a></li>
        <li><a href="/graphs">Graphs</a></li>
        <li><a href="/users">Users</a></li>
    </ul>
</nav>